<launch>
    <arg name="model" default="$(find ros_whill)/xacro/modelc.xacro" />
    <arg name="gui" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/whill/states/jointState" />
    </node>

    <arg name="serialport" default="$(env TTY_WHILL)"/>

    <node pkg="ros_whill" type="ros_whill" name="whill" output="screen" >

        <!-- Initial Speed Profile -->
        <rosparam file="$(find ros_whill)/params/initial_speedprofile.yaml" command="load" />

        <!-- Serial Device name -->
        <param name="serialport" value="$(arg serialport)"/>

        <!-- Output Odometry tf or not. If other node publishes odom->base_link tf, Change value to "false" -->
        <param name="publish_tf" value="true"/>  
        
    </node>
</launch>

